.ey-popover-wrapper {
  position: relative;
  .ey-popover-trigger {
    cursor: pointer;
  }
  .ey-popover-content {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--ey-border-color-extra-light);
    &__arrow {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid var(--ey-text-color-primary);
    }
    &__body {
      padding: 5px;
      background-color: var(--ey-text-color-primary);
      border-radius: 2px;
    }
  }
}