.calendar {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body {
    &__month {
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__btns {
        display: flex;
        gap: 6px;
      }
    }
    &__week {
      display: flex;
      &__item {
        flex: 1;
        text-align: center;
      }
    }
    &__days {
      display: grid;
      grid-column: 7;
      gap: 4px;
      .week-items-wrapper {
        width: 100%;
        display: flex;
        .calendar__item {
          text-align: center;
          flex:1;
        }
        .calendar__item--active {
          background-color: var(--ey-color-primary);
        }
      }
    }
  }
}