.ey-tag {
  padding: 4px 8px;
  display: flex;
  border:5px;
  width: fit-content;
  border-radius: 5px;
  background-color: rgba(64, 158, 255, 0.2);
  color: #409eff;

  align-items: center;
  justify-content: center;
  &__close {
    margin-left: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #409eff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      background-color: #409eff;
      color: #fff;
    }
  }
}
