.ey-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
  
  svg {
    width: 1em;
    height: 1em;
    display: block;
  }
}

